<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.plan.frame.system.base.dao.SysQuartzJobDao" >
  
  <resultMap id="BaseResultMap" type="com.plan.frame.system.base.entity.SysQuartzJob" >
    <id column="ID" property="id" jdbcType="VARCHAR" />
    <result column="BEAN_NAME" property="beanName" jdbcType="VARCHAR" />
    <result column="CRON_EXPRESSION" property="cronExpression" jdbcType="VARCHAR" />
    <result column="IS_PAUSE" property="isPause" jdbcType="DECIMAL" />
    <result column="JOB_NAME" property="jobName" jdbcType="VARCHAR" />
    <result column="METHOD_NAME" property="methodName" jdbcType="VARCHAR" />
    <result column="PARAMS" property="params" jdbcType="VARCHAR" />
    <result column="REMARK" property="remark" jdbcType="VARCHAR" />
    <result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP" />
    <result column="UPDATE_TIME" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="CREATE_USER" property="createUser" jdbcType="VARCHAR" />
    <result column="UPDATE_USER" property="updateUser" jdbcType="VARCHAR" />
  </resultMap>
  
  <sql id="BaseColumnList" >
    ID, BEAN_NAME, CRON_EXPRESSION, IS_PAUSE, JOB_NAME, METHOD_NAME, PARAMS, REMARK, 
    CREATE_TIME, UPDATE_TIME, CREATE_USER, UPDATE_USER
  </sql>
  
  <insert id="insert" parameterType="com.plan.frame.system.base.entity.SysQuartzJob" >
    INSERT INTO SYS_QUARTZ_JOB (ID, BEAN_NAME, CRON_EXPRESSION, 
      IS_PAUSE, JOB_NAME, METHOD_NAME, 
      PARAMS, REMARK, CREATE_TIME, 
      UPDATE_TIME, CREATE_USER, UPDATE_USER
      )
    VALUES (#{id,jdbcType=VARCHAR}, #{beanName,jdbcType=VARCHAR}, #{cronExpression,jdbcType=VARCHAR}, 
      #{isPause,jdbcType=DECIMAL}, #{jobName,jdbcType=VARCHAR}, #{methodName,jdbcType=VARCHAR}, 
      #{params,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{updateTime,jdbcType=TIMESTAMP}, #{createUser,jdbcType=VARCHAR}, #{updateUser,jdbcType=VARCHAR}
      )
  </insert>
  
  <insert id="insertBatch" parameterType="java.util.List" >
    INSERT INTO SYS_QUARTZ_JOB (ID, 
      BEAN_NAME, CRON_EXPRESSION, IS_PAUSE, 
      JOB_NAME, METHOD_NAME, PARAMS, 
      REMARK, CREATE_TIME, UPDATE_TIME, 
      CREATE_USER, UPDATE_USER)
    <foreach collection="list" item="item" index="index" separator=" UNION ALL "> select #{item.id,jdbcType=VARCHAR}, 
      #{item.beanName,jdbcType=VARCHAR}, #{item.cronExpression,jdbcType=VARCHAR}, #{item.isPause,jdbcType=DECIMAL}, 
      #{item.jobName,jdbcType=VARCHAR}, #{item.methodName,jdbcType=VARCHAR}, #{item.params,jdbcType=VARCHAR}, 
      #{item.remark,jdbcType=VARCHAR}, #{item.createTime,jdbcType=TIMESTAMP}, #{item.updateTime,jdbcType=TIMESTAMP}, 
      #{item.createUser,jdbcType=VARCHAR}, #{item.updateUser,jdbcType=VARCHAR} from dual </foreach>
  </insert>
  
  <insert id="insertSelective" parameterType="com.plan.frame.system.base.entity.SysQuartzJob" >
    INSERT INTO SYS_QUARTZ_JOB
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="beanName != null" >
        BEAN_NAME,
      </if>
      <if test="cronExpression != null" >
        CRON_EXPRESSION,
      </if>
      <if test="isPause != null" >
        IS_PAUSE,
      </if>
      <if test="jobName != null" >
        JOB_NAME,
      </if>
      <if test="methodName != null" >
        METHOD_NAME,
      </if>
      <if test="params != null" >
        PARAMS,
      </if>
      <if test="remark != null" >
        REMARK,
      </if>
      <if test="createTime != null" >
        CREATE_TIME,
      </if>
      <if test="updateTime != null" >
        UPDATE_TIME,
      </if>
      <if test="createUser != null" >
        CREATE_USER,
      </if>
      <if test="updateUser != null" >
        UPDATE_USER,
      </if>
    </trim>
    <trim prefix="VALUES (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="beanName != null" >
        #{beanName,jdbcType=VARCHAR},
      </if>
      <if test="cronExpression != null" >
        #{cronExpression,jdbcType=VARCHAR},
      </if>
      <if test="isPause != null" >
        #{isPause,jdbcType=DECIMAL},
      </if>
      <if test="jobName != null" >
        #{jobName,jdbcType=VARCHAR},
      </if>
      <if test="methodName != null" >
        #{methodName,jdbcType=VARCHAR},
      </if>
      <if test="params != null" >
        #{params,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createUser != null" >
        #{createUser,jdbcType=VARCHAR},
      </if>
      <if test="updateUser != null" >
        #{updateUser,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  
  <update id="update" parameterType="com.plan.frame.system.base.entity.SysQuartzJob" >
    UPDATE SYS_QUARTZ_JOB
    SET BEAN_NAME = #{beanName,jdbcType=VARCHAR},
      CRON_EXPRESSION = #{cronExpression,jdbcType=VARCHAR},
      IS_PAUSE = #{isPause,jdbcType=DECIMAL},
      JOB_NAME = #{jobName,jdbcType=VARCHAR},
      METHOD_NAME = #{methodName,jdbcType=VARCHAR},
      PARAMS = #{params,jdbcType=VARCHAR},
      REMARK = #{remark,jdbcType=VARCHAR},
      CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
      CREATE_USER = #{createUser,jdbcType=VARCHAR},
      UPDATE_USER = #{updateUser,jdbcType=VARCHAR}
    WHERE ID = #{id,jdbcType=VARCHAR}
  </update>
  
  <update id="updateSelective" parameterType="com.plan.frame.system.base.entity.SysQuartzJob" >
    UPDATE SYS_QUARTZ_JOB
    <set >
      <if test="beanName != null" >
        BEAN_NAME = #{beanName,jdbcType=VARCHAR},
      </if>
      <if test="cronExpression != null" >
        CRON_EXPRESSION = #{cronExpression,jdbcType=VARCHAR},
      </if>
      <if test="isPause != null" >
        IS_PAUSE = #{isPause,jdbcType=DECIMAL},
      </if>
      <if test="jobName != null" >
        JOB_NAME = #{jobName,jdbcType=VARCHAR},
      </if>
      <if test="methodName != null" >
        METHOD_NAME = #{methodName,jdbcType=VARCHAR},
      </if>
      <if test="params != null" >
        PARAMS = #{params,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        REMARK = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createUser != null" >
        CREATE_USER = #{createUser,jdbcType=VARCHAR},
      </if>
      <if test="updateUser != null" >
        UPDATE_USER = #{updateUser,jdbcType=VARCHAR},
      </if>
    </set>
    WHERE ID = #{id,jdbcType=VARCHAR}
  </update>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    DELETE FROM SYS_QUARTZ_JOB
    WHERE ID = #{id,jdbcType=VARCHAR}
  </delete>
  
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    SELECT 
    <include refid="BaseColumnList" />
    FROM SYS_QUARTZ_JOB
    WHERE ID = #{id,jdbcType=VARCHAR}
  </select>
  
  <select id="selectByEntitySelective" parameterType="com.plan.frame.system.base.entity.SysQuartzJob" resultMap="BaseResultMap" >
    SELECT 
    <include refid="BaseColumnList" />
    FROM SYS_QUARTZ_JOB
    <where >
      <if test="id != null" >
         AND ID = #{id,jdbcType=VARCHAR}
      </if>
      <if test="beanName != null" >
         AND BEAN_NAME = #{beanName,jdbcType=VARCHAR}
      </if>
      <if test="cronExpression != null" >
         AND CRON_EXPRESSION = #{cronExpression,jdbcType=VARCHAR}
      </if>
      <if test="isPause != null" >
         AND IS_PAUSE = #{isPause,jdbcType=DECIMAL}
      </if>
      <if test="jobName != null" >
         AND JOB_NAME = #{jobName,jdbcType=VARCHAR}
      </if>
      <if test="methodName != null" >
         AND METHOD_NAME = #{methodName,jdbcType=VARCHAR}
      </if>
      <if test="params != null" >
         AND PARAMS = #{params,jdbcType=VARCHAR}
      </if>
      <if test="remark != null" >
         AND REMARK = #{remark,jdbcType=VARCHAR}
      </if>
      <if test="createTime != null" >
         AND CREATE_TIME = #{createTime,jdbcType=TIMESTAMP}
      </if>
      <if test="updateTime != null" >
         AND UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP}
      </if>
      <if test="createUser != null" >
         AND CREATE_USER = #{createUser,jdbcType=VARCHAR}
      </if>
      <if test="updateUser != null" >
         AND UPDATE_USER = #{updateUser,jdbcType=VARCHAR}
      </if>
    </where>
  </select>
</mapper>