<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.plan.frame.system.base.dao.SysQuartzLogDao" >
  
  <resultMap id="BaseResultMap" type="com.plan.frame.system.base.entity.SysQuartzLog" >
    <id column="ID" property="id" jdbcType="VARCHAR" />
    <result column="JOB_ID" property="jobId" jdbcType="VARCHAR" />
    <result column="BEAN_NAME" property="beanName" jdbcType="VARCHAR" />
    <result column="CRON_EXPRESSION" property="cronExpression" jdbcType="VARCHAR" />
    <result column="EXCEPTION_DETAIL" property="exceptionDetail" jdbcType="VARCHAR" />
    <result column="IS_SUCCESS" property="isSuccess" jdbcType="DECIMAL" />
    <result column="JOB_NAME" property="jobName" jdbcType="VARCHAR" />
    <result column="METHOD_NAME" property="methodName" jdbcType="VARCHAR" />
    <result column="PARAMS" property="params" jdbcType="VARCHAR" />
    <result column="TIME" property="time" jdbcType="DECIMAL" />
    <result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP" />
    <result column="UPDATE_TIME" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="CREATE_USER" property="createUser" jdbcType="VARCHAR" />
    <result column="UPDATE_USER" property="updateUser" jdbcType="VARCHAR" />
  </resultMap>
  
  <sql id="BaseColumnList" >
    ID, JOB_ID, BEAN_NAME, CRON_EXPRESSION, EXCEPTION_DETAIL, IS_SUCCESS, JOB_NAME, METHOD_NAME, 
    PARAMS, TIME, CREATE_TIME, UPDATE_TIME, CREATE_USER, UPDATE_USER
  </sql>
  
  <insert id="insert" parameterType="com.plan.frame.system.base.entity.SysQuartzLog" >
    INSERT INTO SYS_QUARTZ_LOG (ID, JOB_ID, BEAN_NAME, 
      CRON_EXPRESSION, EXCEPTION_DETAIL, IS_SUCCESS, 
      JOB_NAME, METHOD_NAME, PARAMS, 
      TIME, CREATE_TIME, UPDATE_TIME, 
      CREATE_USER, UPDATE_USER)
    VALUES (#{id,jdbcType=VARCHAR}, #{jobId,jdbcType=VARCHAR}, #{beanName,jdbcType=VARCHAR}, 
      #{cronExpression,jdbcType=VARCHAR}, #{exceptionDetail,jdbcType=VARCHAR}, #{isSuccess,jdbcType=DECIMAL}, 
      #{jobName,jdbcType=VARCHAR}, #{methodName,jdbcType=VARCHAR}, #{params,jdbcType=VARCHAR}, 
      #{time,jdbcType=DECIMAL}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, 
      #{createUser,jdbcType=VARCHAR}, #{updateUser,jdbcType=VARCHAR})
  </insert>
  
  <insert id="insertBatch" parameterType="java.util.List" >
    INSERT INTO SYS_QUARTZ_LOG (ID, 
      JOB_ID, BEAN_NAME, CRON_EXPRESSION, 
      EXCEPTION_DETAIL, IS_SUCCESS, JOB_NAME, 
      METHOD_NAME, PARAMS, TIME, 
      CREATE_TIME, UPDATE_TIME, CREATE_USER, 
      UPDATE_USER)
    <foreach collection="list" item="item" index="index" separator=" UNION ALL "> select #{item.id,jdbcType=VARCHAR}, 
      #{item.jobId,jdbcType=VARCHAR}, #{item.beanName,jdbcType=VARCHAR}, #{item.cronExpression,jdbcType=VARCHAR}, 
      #{item.exceptionDetail,jdbcType=VARCHAR}, #{item.isSuccess,jdbcType=DECIMAL}, #{item.jobName,jdbcType=VARCHAR}, 
      #{item.methodName,jdbcType=VARCHAR}, #{item.params,jdbcType=VARCHAR}, #{item.time,jdbcType=DECIMAL}, 
      #{item.createTime,jdbcType=TIMESTAMP}, #{item.updateTime,jdbcType=TIMESTAMP}, #{item.createUser,jdbcType=VARCHAR}, 
      #{item.updateUser,jdbcType=VARCHAR} from dual </foreach>
  </insert>
  
  <insert id="insertSelective" parameterType="com.plan.frame.system.base.entity.SysQuartzLog" >
    INSERT INTO SYS_QUARTZ_LOG
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="jobId != null" >
        JOB_ID,
      </if>
      <if test="beanName != null" >
        BEAN_NAME,
      </if>
      <if test="cronExpression != null" >
        CRON_EXPRESSION,
      </if>
      <if test="exceptionDetail != null" >
        EXCEPTION_DETAIL,
      </if>
      <if test="isSuccess != null" >
        IS_SUCCESS,
      </if>
      <if test="jobName != null" >
        JOB_NAME,
      </if>
      <if test="methodName != null" >
        METHOD_NAME,
      </if>
      <if test="params != null" >
        PARAMS,
      </if>
      <if test="time != null" >
        TIME,
      </if>
      <if test="createTime != null" >
        CREATE_TIME,
      </if>
      <if test="updateTime != null" >
        UPDATE_TIME,
      </if>
      <if test="createUser != null" >
        CREATE_USER,
      </if>
      <if test="updateUser != null" >
        UPDATE_USER,
      </if>
    </trim>
    <trim prefix="VALUES (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="jobId != null" >
        #{jobId,jdbcType=VARCHAR},
      </if>
      <if test="beanName != null" >
        #{beanName,jdbcType=VARCHAR},
      </if>
      <if test="cronExpression != null" >
        #{cronExpression,jdbcType=VARCHAR},
      </if>
      <if test="exceptionDetail != null" >
        #{exceptionDetail,jdbcType=VARCHAR},
      </if>
      <if test="isSuccess != null" >
        #{isSuccess,jdbcType=DECIMAL},
      </if>
      <if test="jobName != null" >
        #{jobName,jdbcType=VARCHAR},
      </if>
      <if test="methodName != null" >
        #{methodName,jdbcType=VARCHAR},
      </if>
      <if test="params != null" >
        #{params,jdbcType=VARCHAR},
      </if>
      <if test="time != null" >
        #{time,jdbcType=DECIMAL},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createUser != null" >
        #{createUser,jdbcType=VARCHAR},
      </if>
      <if test="updateUser != null" >
        #{updateUser,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  
  <update id="update" parameterType="com.plan.frame.system.base.entity.SysQuartzLog" >
    UPDATE SYS_QUARTZ_LOG
    SET JOB_ID = #{jobId,jdbcType=VARCHAR},
      BEAN_NAME = #{beanName,jdbcType=VARCHAR},
      CRON_EXPRESSION = #{cronExpression,jdbcType=VARCHAR},
      EXCEPTION_DETAIL = #{exceptionDetail,jdbcType=VARCHAR},
      IS_SUCCESS = #{isSuccess,jdbcType=DECIMAL},
      JOB_NAME = #{jobName,jdbcType=VARCHAR},
      METHOD_NAME = #{methodName,jdbcType=VARCHAR},
      PARAMS = #{params,jdbcType=VARCHAR},
      TIME = #{time,jdbcType=DECIMAL},
      CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
      CREATE_USER = #{createUser,jdbcType=VARCHAR},
      UPDATE_USER = #{updateUser,jdbcType=VARCHAR}
    WHERE ID = #{id,jdbcType=VARCHAR}
  </update>
  
  <update id="updateSelective" parameterType="com.plan.frame.system.base.entity.SysQuartzLog" >
    UPDATE SYS_QUARTZ_LOG
    <set >
      <if test="jobId != null" >
        JOB_ID = #{jobId,jdbcType=VARCHAR},
      </if>
      <if test="beanName != null" >
        BEAN_NAME = #{beanName,jdbcType=VARCHAR},
      </if>
      <if test="cronExpression != null" >
        CRON_EXPRESSION = #{cronExpression,jdbcType=VARCHAR},
      </if>
      <if test="exceptionDetail != null" >
        EXCEPTION_DETAIL = #{exceptionDetail,jdbcType=VARCHAR},
      </if>
      <if test="isSuccess != null" >
        IS_SUCCESS = #{isSuccess,jdbcType=DECIMAL},
      </if>
      <if test="jobName != null" >
        JOB_NAME = #{jobName,jdbcType=VARCHAR},
      </if>
      <if test="methodName != null" >
        METHOD_NAME = #{methodName,jdbcType=VARCHAR},
      </if>
      <if test="params != null" >
        PARAMS = #{params,jdbcType=VARCHAR},
      </if>
      <if test="time != null" >
        TIME = #{time,jdbcType=DECIMAL},
      </if>
      <if test="createTime != null" >
        CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createUser != null" >
        CREATE_USER = #{createUser,jdbcType=VARCHAR},
      </if>
      <if test="updateUser != null" >
        UPDATE_USER = #{updateUser,jdbcType=VARCHAR},
      </if>
    </set>
    WHERE ID = #{id,jdbcType=VARCHAR}
  </update>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    DELETE FROM SYS_QUARTZ_LOG
    WHERE ID = #{id,jdbcType=VARCHAR}
  </delete>
  
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    SELECT 
    <include refid="BaseColumnList" />
    FROM SYS_QUARTZ_LOG
    WHERE ID = #{id,jdbcType=VARCHAR}
  </select>
  
  <select id="selectByEntitySelective" parameterType="com.plan.frame.system.base.entity.SysQuartzLog" resultMap="BaseResultMap" >
    SELECT 
    <include refid="BaseColumnList" />
    FROM SYS_QUARTZ_LOG
    <where >
      <if test="id != null" >
         AND ID = #{id,jdbcType=VARCHAR}
      </if>
      <if test="jobId != null" >
         AND JOB_ID = #{jobId,jdbcType=VARCHAR}
      </if>
      <if test="beanName != null" >
         AND BEAN_NAME = #{beanName,jdbcType=VARCHAR}
      </if>
      <if test="cronExpression != null" >
         AND CRON_EXPRESSION = #{cronExpression,jdbcType=VARCHAR}
      </if>
      <if test="exceptionDetail != null" >
         AND EXCEPTION_DETAIL = #{exceptionDetail,jdbcType=VARCHAR}
      </if>
      <if test="isSuccess != null" >
         AND IS_SUCCESS = #{isSuccess,jdbcType=DECIMAL}
      </if>
      <if test="jobName != null" >
         AND JOB_NAME = #{jobName,jdbcType=VARCHAR}
      </if>
      <if test="methodName != null" >
         AND METHOD_NAME = #{methodName,jdbcType=VARCHAR}
      </if>
      <if test="params != null" >
         AND PARAMS = #{params,jdbcType=VARCHAR}
      </if>
      <if test="time != null" >
         AND TIME = #{time,jdbcType=DECIMAL}
      </if>
      <if test="createTime != null" >
         AND CREATE_TIME = #{createTime,jdbcType=TIMESTAMP}
      </if>
      <if test="updateTime != null" >
         AND UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP}
      </if>
      <if test="createUser != null" >
         AND CREATE_USER = #{createUser,jdbcType=VARCHAR}
      </if>
      <if test="updateUser != null" >
         AND UPDATE_USER = #{updateUser,jdbcType=VARCHAR}
      </if>
    </where>
  </select>
</mapper>