<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.plan.demo.base.dao.TbDictionaryDao" >
  
  <resultMap id="BaseResultMap" type="com.plan.demo.base.entity.TbDictionary" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="code" property="code" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  
  <sql id="BaseColumnList" >
    id, code, name, create_time, update_time
  </sql>
  
  <insert id="insert" parameterType="com.plan.demo.base.entity.TbDictionary" >
    INSERT INTO tb_dictionary (id, code, name, 
      create_time, update_time)
    VALUES (#{id,jdbcType=VARCHAR}, #{code,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  
  <insert id="insertBatch" parameterType="java.util.List" >
    INSERT INTO tb_dictionary (id, 
      code, name, create_time, 
      update_time)
    VALUES <foreach collection="list" item="item" index="index" separator=","> (#{item.id,jdbcType=VARCHAR}, 
      #{item.code,jdbcType=VARCHAR}, #{item.name,jdbcType=VARCHAR}, #{item.createTime,jdbcType=TIMESTAMP}, 
      #{item.updateTime,jdbcType=TIMESTAMP}) </foreach>
  </insert>
  
  <insert id="insertSelective" parameterType="com.plan.demo.base.entity.TbDictionary" >
    INSERT INTO tb_dictionary
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="code != null" >
        code,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
    </trim>
    <trim prefix="VALUES (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="code != null" >
        #{code,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  
  <update id="update" parameterType="com.plan.demo.base.entity.TbDictionary" >
    UPDATE tb_dictionary
    SET code = #{code,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    WHERE id = #{id,jdbcType=VARCHAR}
  </update>
  
  <update id="updateSelective" parameterType="com.plan.demo.base.entity.TbDictionary" >
    UPDATE tb_dictionary
    <set >
      <if test="code != null" >
        code = #{code,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    WHERE id = #{id,jdbcType=VARCHAR}
  </update>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    DELETE FROM tb_dictionary
    WHERE id = #{id,jdbcType=VARCHAR}
  </delete>
  
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    SELECT 
    <include refid="BaseColumnList" />
    FROM tb_dictionary
    WHERE id = #{id,jdbcType=VARCHAR}
  </select>
  
  <select id="selectByEntitySelective" parameterType="com.plan.demo.base.entity.TbDictionary" resultMap="BaseResultMap" >
    SELECT 
    <include refid="BaseColumnList" />
    FROM tb_dictionary
    <where >
      <if test="id != null" >
         AND id = #{id,jdbcType=VARCHAR}
      </if>
      <if test="code != null" >
         AND code = #{code,jdbcType=VARCHAR}
      </if>
      <if test="name != null" >
         AND name = #{name,jdbcType=VARCHAR}
      </if>
      <if test="createTime != null" >
         AND create_time = #{createTime,jdbcType=TIMESTAMP}
      </if>
      <if test="updateTime != null" >
         AND update_time = #{updateTime,jdbcType=TIMESTAMP}
      </if>
    </where>
  </select>
</mapper>