<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.plan.demo.order.dao.OrderMapper" >
  <select id="findNowOrderList" resultType="vo" parameterType="vo">
    select * from tb_order a
    where a.user_id = #{userId}
    and a.order_status in('1','2','3')
    <if test="orderRealType != null or orderRealType !=''">
        and a.order_real_type = #{orderRealType}
    </if>
  </select>
  <select id="findLineList" resultType="vo" parameterType="vo">
    select a.id as line_id,concat(a.start_address,'-',a.end_address) as line_name
    from tb_line a
  </select>
  
</mapper>