<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.plan.frame.system.dao.SysQuartzLogExtDao" >
  
  <resultMap id="BaseResultMap" type="com.plan.frame.system.base.entity.SysQuartzLog" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="job_id" property="jobId" jdbcType="BIGINT" />
    <result column="bean_name" property="beanName" jdbcType="VARCHAR" />
    <result column="cron_expression" property="cronExpression" jdbcType="VARCHAR" />
    <result column="is_success" property="isSuccess" jdbcType="BIT" />
    <result column="job_name" property="jobName" jdbcType="VARCHAR" />
    <result column="method_name" property="methodName" jdbcType="VARCHAR" />
	<result column="exceptionDetail" property="exceptionDetail" jdbcType="LONGVARCHAR" />
    <result column="params" property="params" jdbcType="VARCHAR" />
    <result column="time" property="time" jdbcType="BIGINT" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="create_user" property="createUser" jdbcType="VARCHAR" />
    <result column="update_user" property="updateUser" jdbcType="VARCHAR" />
  </resultMap>
  
  <sql id="BaseColumnList" >
    id, job_id, bean_name, cron_expression, is_success, job_name, method_name, params, 
    time, create_time, update_time, create_user, update_user
  </sql>
  

  
  <select id="listLogs" resultMap="BaseResultMap" parameterType="com.plan.frame.system.dto.quartz.ReqListLogsDto" >
    SELECT 
    <include refid="BaseColumnList" />
    FROM sys_quartz_log
    WHERE 1=1
    <if test="jobId != null and jobId !=''" >
          and   job_id = #{jobId}
    </if>
    <if test="isSuccess != null " >
          and   is_success = #{isSuccess}
    </if>

    <if test="startTime != null and startTime !=''" >
      and <![CDATA[  create_time >= STR_TO_DATE(#{startTime},'%Y-%m-%d %H:%i:%s')]]>
    </if>
    <if test="endTime != null and endTime !=''" >
      and <![CDATA[  create_time <= STR_TO_DATE(#{endTime},'%Y-%m-%d %H:%i:%s')]]>
    </if>
  </select>

</mapper>