<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.plan.frame.system.dao.SysQuartzJobExtDao" >

  <resultMap id="BaseResultMap" type="com.plan.frame.system.base.entity.SysQuartzJob" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="bean_name" property="beanName" jdbcType="VARCHAR" />
    <result column="cron_expression" property="cronExpression" jdbcType="VARCHAR" />
    <result column="is_pause" property="isPause" jdbcType="BIT" />
    <result column="job_name" property="jobName" jdbcType="VARCHAR" />
    <result column="method_name" property="methodName" jdbcType="VARCHAR" />
    <result column="params" property="params" jdbcType="VARCHAR" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="create_user" property="createUser" jdbcType="VARCHAR" />
    <result column="update_user" property="updateUser" jdbcType="VARCHAR" />
  </resultMap>
  
  <sql id="BaseColumnList" >
    id, bean_name, cron_expression, is_pause, job_name, method_name, params, remark, 
    create_time, update_time, create_user, update_user
  </sql>
  <select id="listJobs" resultMap="BaseResultMap" parameterType="com.plan.frame.system.dto.quartz.ReqListJobsDto" >
    SELECT 
    <include refid="BaseColumnList" />
    FROM sys_quartz_job
    WHERE 1=1
    <if test="jobName!= null and jobName != ''">
      and job_name  like  CONCAT(CONCAT('%', #{jobName}),'%')
    </if>
    <if test="beanName!= null and beanName != ''">
      and bean_name  like    CONCAT(CONCAT('%', #{beanName}),'%')
    </if>
  </select>

  <select id="listJobsByIsPause" resultMap="BaseResultMap" parameterType="java.lang.Boolean" >
    SELECT
    <include refid="BaseColumnList" />
    FROM sys_quartz_job
    WHERE is_pause = #{isPause}
  </select>
  <select id="listAllJobs" resultMap="BaseResultMap"  >
    SELECT
    <include refid="BaseColumnList" />
    FROM sys_quartz_job
  </select>
  <update id="updateIsPause" parameterType="com.plan.frame.system.base.entity.SysQuartzJob" >
  UPDATE sys_quartz_job
     set  is_pause = #{isPause,jdbcType=BIT}
     where id = #{id,jdbcType=VARCHAR}
  </update>

</mapper>